.box1{
        width: 100px;
        float: right;
    }
    .box2{
        width: 100px;
        float: left
    }
  p{
    clear: both;
   }
  .box3{
    width: 200px;
     }
     img:hover{
      opacity: 0.2px;
     }
     .social{
      width: 71px;
      height: 58px;
      background-image: url(img3.png);
      background-repeat: no-repeat;
      transition: 1s;
      background-position: -282px 0;
   
      
      
      
    
    }
    .social:hover{
      background-position: -282px  -62px;
      
    }
    .transform{
       width: 250px;
       height: 200px;
       background-color: rgb(0, 183, 0);
       color:rgb(240, 6, 6);
      position: relative;
      text-align: center;
      transform: rotate(60deg);
    }

    .transform h1{
     font-size: 40px;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      top: 35%;
      
    }
    
    .animation{
      width: 300px;
      height: 200px;
      background-color: brown;
      position: relative;
      animation-name: box;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-duration: alternate;
      animation-fill-mode: backwards;
      animation-play-state: running;


    }
    @keyframes box{
      10%{ background-color: rgb(254, 123, 0);
        right: 0px;
        left: 0px;
      }
      29%{ background-color: tomato;
        right: 300px;
       left: 300px;

      }
      44%{ background-color: indigo;
        right: 300px;
        left: 300px;
        
       }
      50%{ background-color: rgb(194, 117, 24); 
        right: 500PX;
        left: 500px;
        border-radius: 50%;
      
      }
      100%{ background-color: chartreuse;
        border-radius: 0%;
        right: 0PX;
        left: 0px;
        border-radius: 70%;
      
      } 
       }
       .animation h1{
        text-align: center;
        line-height: 600%;
         }
        .animation1{
          
          width: 240px;
          height: 160px;
         border: 5px solid green;
         justify-content: center;
         display: flex;
         align-items: center;
          animation: ania  2s infinite alternate ;
          }
          @keyframes ania{
            0%{transform: rotate(0deg); border-width: 10px; }
            25%{border-color: brown; border-width: 20px;}
            50%{ border-color:blueviolet;  border-width: 30px;}
            75%{border-color: rgb(15, 174, 242);  border-width: 40px;}
            100%{border-color: rgb(214, 214, 16) ; border-width: 45px; transform: rotate(360deg)}
          }


        .animation1 div{
          width: 130px;
          height: 130px;
         border: 3px solid  red;
         line-height: 600%;
         border-radius: 50%;
         animation:ani 2s infinite forwards ;
         background-color:red;
        
        }
        @keyframes ani{
          0%{border-color: aqua; transform: scale(0.5);}
          25%{border-color: rgb(116, 16, 188); transform: scale(0.9);}

          50%{border-color: rgb(235, 21, 150); transform: scale(1);}
          75%{border-color: rgb(6, 91, 91); transform: scale(1.1);}
          100%{ border-color: black; transform: scale(0.4);}
           }


   
   
   
        
     